<!doctype html>
<html lan=fr>
  <head>
      <link rel="stylesheet" href="../static/navbar.css">
  </head>
  <body>
   <div class="topnav">
    <a class="active">Home</a>
    <a href="/createUser">Inscription</a>
    <a href="/login">Connexion</a>
    <a href="/media">Médias</a>
    <a href="/listeUsers">Liste des profiles</a>
    <a href="/dashboard">Mon profil</a>
    <a href="/createMedia">Ajouter un média</a>
  </div>
   
  <h1 style="text-align:center;">Bienvenue sur l'interface web du projet DESA</h1>
  
  </body>

</html>